body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
}

.header {
  padding: 20px;
  background: rgba(128, 128, 128, 0.247);
  text-align: center;
}

.header > h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.header > p {
  font-size: 1.2rem;
}

.footer {
  width: 100%;
  padding: 20px;
  background: rgba(128, 128, 128, 0.247);
  text-align: center;
}

.footer > p {
  font-size: 1.2rem;
}

.footer > a {
  color: black;
  margin-right: 10px;
}

.sy-pager {
  display: none;
  position: absolute;
}

.download-btn {
  position: absolute;
  top: 10px;
  left: 150px;
}

.download-btn > img {
  position: relative;
  width: 50px !important;
}
